<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  I'm a Data Analytics & Science Enthusiast. These days I spend my time educating students at Lighthouse Labs and contributing data science articles to Towards Data Science.

In my spare time, I have been working on two podcasts that I'm incredibly passionate about. One being The Pandemic Job Hunt, a podcast that aims to breakdown the keys to landing a job and to inspire job seekers with out of the box ideas. The second being The Little Big Ideas Show, a podcast that identifies 'little ideas' that could have a 'big impact,' focusing on topics that improve one's happiness.

Passionate about tech-driven solutions/innovations by day and being zen from practicing yoga by night! I'm always open to meeting new people (virtually) in order to connect, share stories, and exchange ideas.

I am also a Toronto Raptors fan, and my favourite player is Serge Ibaka! (Unfortunately he has been traded.) What's yours?

My Current Motto:
"Being comfortable and resilient in the face of uncertainty."
</div>
