<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  Welcome to my little data science blog! My name is Andrew Berry and I'm a little obsessed with data. I started my data science journey just a bit over a year ago when I enrolled myself into a Data Science bootcamp. Since then I had the privilege to be a Data Science teaching assistant from the same bootcamp I attended and was grateful that I got to share this passion to new students. Currently, I am looking for new opportunities in this field!

This blog is a space for myself to share my thoughts, tutorials, and projects in a more artful manner. The purpose of this blog is for me to continuously improve my communication skills, with a goal to be an effective communicator for topics related to this field and my work.

If you would like to connect with me, please reach out on my LinkedIn. Thank you for checking my blog out!
</div>
